body {
    font-family: "Montserrat", sans-serif;
    background: #f5f5f5;
    color: #818181;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #222;
}

header {
    background: #fff;
    padding: 2.5rem 0;
    width: 100%;
}

a,
.privacyInfoBtn {
    color:#ff0000;
    cursor: pointer;
    text-decoration: none;
}

a:hover,
.privacyInfoBtn:hover {
    text-decoration: underline;
}

.ry-brand {
    width: 40px;
}

.header-content {
    padding: 0 2rem;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.header-content nav {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

.header-content h2 {
    font-size: 1.2rem;
    margin: 0;
}

nav a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: #ff0000;
}

.container {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.05);
    width: 90%;
    max-width: 800px;
    padding: 2.5rem;
    margin: 2rem auto;
    text-align: center;
    flex: 1;
}

.container-header {
    text-align: left;
}

.container-header h1 {
    margin-bottom: 0.2em;
}

.container-header h5 {
    margin-top: 0;
    font-size: 0.9em;
}

h1 {
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 1.8rem;
}

h5 {
    font-weight: normal;
}

.privacy-disclaimer {
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

.upload-area {
    border: 2px dashed #ff0000;
    border-radius: 16px;
    padding: 3rem 2rem;
    margin: 1.5rem 0;
    background: #fff;
    cursor: pointer;
    transition: all 0.2s;
    width: 100%;
    max-width: 95%;
}

.upload-area.highlight {
    background: #ffe6e6;
    border-color: #ff0000;
}

.icon {
    font-size: 3rem;
    color: #ff0000;
    margin-bottom: 1rem;
    opacity: 0.8;
}

.btn {
    font-family: "Montserrat", sans-serif;;
    background: transparent;
    color: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 8px;
    padding: 0.8rem 1.8rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.btn:hover {
    background: #ff0000;
    color: #fff;
    border-color: #ff0000;
}

.btn:active {
    transform: scale(0.98);
}



.btn#submitBtn {
    background: transparent;
    color: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 8px;
    padding: 0.8rem 1.8rem;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
    margin: 10px auto;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.btn#submitBtn:hover {
    background: #ff0000;
    color: #fff;
    border-color: #ff0000;
}

.file-info {
    color: #333;
    font-size: 0.9rem;
}

.file-info p {
    margin: 10px auto;
}

.file-info strong {
    color: #ff0000;
}

.remove-file {
    cursor: pointer;
    font-size: 0.8rem;
    margin-left: 15px;
    color: #ff0000;
}

.remove-file:hover {
    text-decoration: underline;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    display: none;
}

.file-name {
    font-weight: bold;
    color: #ff0000;
    margin-top: 0.5rem;
}

.or {
    margin: 0.5rem 0;
    color: #666;
    font-size: 0.8em;
}



footer {
    background: #fff;
    color: #818181;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;

}

.footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta {
    padding: 10px;
    color: #000;
    font-size: 1.2em;
}



.privacy-info {
    font-size: 0.9em;
}

.privacy-info h2 {
    font-size: 1.2em;
}

.footer-cookie {
    font-size: 0.75em;
}

.footer-main {
    font-size: 0.8em;
}

.footer-main i {
    margin: 0 3px;
    font-size: 1.4em;
    color: #9f0404;
    cursor: pointer;
    transition: 0.3s ease all;
}

.footer-main i:hover {
    opacity: 0.6;
}

.footer-main a:hover {
    text-decoration: none;
}

.loading-icon {
    margin: 0.5rem 0;
    color: #ff0000;
    font-size: 1.2rem;
}

.loading-icon i {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    overflow-y: auto;
}

.modal.show {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    background-color: #fff;
    margin: 5rem auto;
    padding: 1.5rem;
    border-radius: 16px;
    width: 90%;
    max-width: 900px;
    position: relative;
    transform: translateY(0px);
    opacity: 0;
    transition: all 0.4s ease;
    max-height: calc(100vh - 10rem);
    overflow-y: auto;
}

.modal.show .modal-content {
    transform: translateY(0);
    opacity: 1;
}

.modal.hide .modal-content {
    transform: translateY(-80px);
    opacity: 0;
}

.modal-close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.privacy-info {
    max-height: 500px;
    overflow-y: scroll;
}